.whatgpt3 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: #031b34;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);
}
.whatgpt3-feature {
    display: flex;
}
.whatgpt3-feature .features-container-feature {
    margin: 0;
}
.whatgpt3-feature .features-container-feature-text {
    max-width: 700px;
}
.whatgpt3-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}
.whatgpt3-heading h1 {
    max-width: 510px;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
}
.whatgpt3-heading p{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #ff8a71;
    cursor: pointer;
}
.whatgpt3-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
}

@media screen and (max-width: 850px) {

    .whatgpt3-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }
    .whatgpt3-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
     .whatgpt3-feature .features-container-feature {
        flex-direction: column;
    }
    .whatgpt3-feature .features-container-feature-text {
        margin-top: 0.5rem;
    }
    .whatgpt3-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    .whatgpt3-container .features-container-feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}