.blog-article-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #031b34;
}
.blog-article-container-image {
    width: 100%;
    height: 100%;
    background: #031b34;
}
.blog-article-container-image img {
    width: 100%;
    height: 100%;
}
.blog-article-container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}
.blog-article-container-content p {
    font-family: 'Manrope',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
}
.blog-article-container-content p:last-child {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 11.649px;
    line-height: 35px;
    color: #FFFFFF;
    cursor: pointer;
}
.blog-article-container-content h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 5rem;
    cursor: pointer;
}
@media screen and (max-width: 550px){
    .blog-article-container-content h3 {
        font-size: 18px;
        line-height: 25px;
    }
}