.cta {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: linear-gradient(103.23deg, #ae67fa -13.87%, #f49867 99.56%);
}
.cta-content p {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E;
}
.cta-content h3 {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
}
.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.cta-button button {
    background: #000000;
    border-radius: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    /* min-height: 150px; */
}

@media screen and (max-width: 700px){
    .cta {
        flex-direction: column;
    }
    .cta-button {
        margin: 2rem 0 0;
    }
}
@media screen and (max-width: 550px){
    .cta{
        margin: 4rem 2rem;
    }
    .cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }
    .cta-button button {
        font-size: 14px;
        line-height: 20px;
    }
}